<head>
<style>

#pre code, #code, pre {
  white-space: pre;
  overflow-x: visible;
  word-break: keep-all;
  word-wrap: initial;
}

img {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  margin-bottom: 5px;
}

pre.r {
  border-radius: 1em;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-bottom: 2em;
}

.content-holder {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    width: 75%;
}

body {
  font-size: 14pt;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

p {
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  margin-top: .5em !important;
}

#multi {
  padding-top: .5em;
} 

</style>
</head>